@font-face {
  font-display: swap;
  font-family: geist;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/woff2/Geist-UltraBlack.woff2");
}

@font-face {
  font-display: swap;
  font-display: swap;
  font-family: geist;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/woff2/Geist-Black.woff2");
}

@font-face {
  font-display: swap;
  font-family: geist;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/woff2/Geist-Bold.woff2");
}
@font-face {
  font-display: swap;
  font-family: geist;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/woff2/Geist-SemiBold.woff2");
}
@font-face {
  font-display: swap;
  font-family: geist;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/woff2/Geist-Medium.woff2");
}

@font-face {
  font-display: swap;
  font-family: geist;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/woff2/Geist-Regular.woff2");
}
@font-face {
  font-display: swap;
  font-family: geist;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/woff2/Geist-Light.woff2");
}
@font-face {
  font-display: swap;
  font-family: geist;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/woff2/Geist-UltraLight.woff2");
}
@font-face {
  font-display: swap;
  font-family: geist;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/woff2/Geist-Regular.woff2");
}
