.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
}

.pre {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.copy-button {
  grid-row: 1 /2;
  grid-column: 2 /3;
}

/* @media (hover: hover) {
  .copy-button {
    opacity: 0;
    transition: opacity ease-in-out 250ms;
    // transition-delay: 500ms;
    .container:hover & {
      opacity: 100;
      transition: opacity ease-in-out 150ms;
    }
  }
}

@media screen and (max-width: 60rem) {
  .copy-button-text {
    // apply sr-only
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    whitespace: nowrap;
    borderwidth: 0;
  }
} */
