@font-face {
  font-family: nohemi;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/woff2/Nohemi-Black.woff2");
  font-display: block;
}

@font-face {
  font-display: swap;
  font-family: nohemi;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/woff2/Nohemi-ExtraBold.woff2");
}
@font-face {
  font-display: swap;
  font-family: nohemi;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/woff2/Nohemi-Bold.woff2");
}
@font-face {
  font-display: swap;
  font-family: nohemi;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/woff2/Nohemi-SemiBold.woff2");
}
@font-face {
  font-display: swap;
  font-family: nohemi;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/woff2/Nohemi-Medium.woff2");
}

@font-face {
  font-display: swap;
  font-family: nohemi;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/woff2/Nohemi-Regular.woff2");
}
@font-face {
  font-display: swap;
  font-family: nohemi;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/woff2/Nohemi-Light.woff2");
}
@font-face {
  font-display: swap;
  font-family: nohemi;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/woff2/Nohemi-ExtraLight.woff2");
}

@font-face {
  font-display: swap;
  font-family: nohemi;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/woff2/Nohemi-Thin.woff2");
}
@font-face {
  font-display: swap;
  font-family: nohemi;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/woff2/Nohemi-Regular.woff2");
}
